#java specific
*.class
*.jar

### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/.idea/
*.iws
*.iml
*.ipr

/teacher/build/
/teacher/lesson_1_introduction/build/
/teacher/lesson_1_introduction/out/
/teacher/lesson_2_single_responsibility_principle/build/
/teacher/lesson_2_single_responsibility_principle/out/
/teacher/lesson_3_request_response_input_data_validation/build/
/teacher/lesson_3_request_response_input_data_validation/out/
/teacher/lesson_4_git_brancing_pull_request_code_review/build/
/teacher/lesson_4_git_brancing_pull_request_code_review/out/
/teacher/lesson_5_testing_with_junit_and_mockito/build/
/teacher/lesson_5_testing_with_junit_and_mockito/out/
/teacher/lesson_6_dependency_injection_inversion_of_control/build/
/teacher/lesson_6_dependency_injection_inversion_of_control/out/
/teacher/lesson_7_spring_basics/build/
/teacher/lesson_7_spring_basics/out/
/teacher/lesson_8_introduction_to_sql/build/
/teacher/lesson_8_introduction_to_sql/out/
/teacher/lesson_9_advanced_sql/build/
/teacher/lesson_9_advanced_sql/out/
/teacher/lesson_10_jdbc_api/build/
/teacher/lesson_10_jdbc_api/out/
/teacher/lesson_11_orm_introduction/build/
/teacher/lesson_11_orm_introduction/out/
/teacher/lesson_12_orm_relations/build/
/teacher/lesson_12_orm_relations/out/
/teacher/lesson_13_spring_web/build/
/teacher/lesson_13_spring_web/out/
/teacher/lesson_14_restfull_api/build/
/teacher/lesson_14_restfull_api/out/
/teacher/lesson_15_jpa_repositories/build/
/teacher/lesson_15_jpa_repositories/out/
/teacher/lesson_16_liquibase/build/
/teacher/lesson_16_liquibase/out/


/team_team_name/build/
/team_team_name/out/

/team_fitness_app/build/
/team_fitness_app/out/

/team_servify/build/
/team_servify/out/

/team_eln/build/
/team_eln/out/