#java specific
*.class
*.jar

### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/.idea/
*.iws
*.iml
*.ipr

/teacher/build/
/teacher/lesson_1_introduction/build/
/teacher/lesson_1_introduction/out/
/teacher/lesson_2_single_responsibility_principle/build/
/teacher/lesson_2_single_responsibility_principle/out/
/teacher/lesson_3_request_response_input_data_validation/build/
/teacher/lesson_3_request_response_input_data_validation/out/
/teacher/lesson_4_git_brancing_pull_request_code_review/build/
/teacher/lesson_4_git_brancing_pull_request_code_review/out/
/teacher/lesson_5_testing_with_junit_and_mockito/build/
/teacher/lesson_5_testing_with_junit_and_mockito/out/
/teacher/lesson_6_dependency_injection_inversion_of_control/build/
/teacher/lesson_6_dependency_injection_inversion_of_control/out/
/teacher/lesson_7_spring_basics/build/
/teacher/lesson_7_spring_basics/out/
/teacher/lesson_8_introduction_to_sql/build/
/teacher/lesson_8_introduction_to_sql/out/
/teacher/lesson_9_advanced_sql/build/
/teacher/lesson_9_advanced_sql/out/


/teacher/lesson_1_introduction/step_1_simple_console_application/build
/teacher/lesson_1_introduction/step_1_simple_console_application/out

/teacher/lesson_2_single_responsibility_principle/step_1_srp_level_method/build
/teacher/lesson_2_single_responsibility_principle/step_1_srp_level_method/out

/teacher/lesson_2_single_responsibility_principle/step_2_srp_level_class/build
/teacher/lesson_2_single_responsibility_principle/step_2_srp_level_class/out

/teacher/lesson_2_single_responsibility_principle/step_3_srp_level_package/build
/teacher/lesson_2_single_responsibility_principle/step_3_srp_level_package/out

/teacher/lesson_2_single_responsibility_principle/step_4_srp_level_application_layer/build
/teacher/lesson_2_single_responsibility_principle/step_4_srp_level_application_layer/out

/teacher/lesson_3_request_response_input_data_validation/step_1_request_response_model/build
/teacher/lesson_3_request_response_input_data_validation/step_1_request_response_model/out

/teacher/lesson_3_request_response_input_data_validation/step_2_input_data_validation/build
/teacher/lesson_3_request_response_input_data_validation/step_2_input_data_validation/out

/teacher/lesson_4_git_brancing_pull_request_code_review/step_1_search/build
/teacher/lesson_4_git_brancing_pull_request_code_review/step_1_search/out

/teacher/lesson_4_git_brancing_pull_request_code_review/step_2_ordering/build
/teacher/lesson_4_git_brancing_pull_request_code_review/step_2_ordering/out

/teacher/lesson_4_git_brancing_pull_request_code_review/step_3_paging/build
/teacher/lesson_4_git_brancing_pull_request_code_review/step_3_paging/out

/teacher/lesson_5_testing_with_junit_and_mockito/step_1_mockito/build
/teacher/lesson_5_testing_with_junit_and_mockito/step_1_mockito/out

/teacher/lesson_5_testing_with_junit_and_mockito/step_2_refactoring/build
/teacher/lesson_5_testing_with_junit_and_mockito/step_2_refactoring/out

/teacher/lesson_5_testing_with_junit_and_mockito/step_3_application_context/build
/teacher/lesson_5_testing_with_junit_and_mockito/step_3_application_context/out

/teacher/lesson_5_testing_with_junit_and_mockito/step_4_acceptance_tests/build
/teacher/lesson_5_testing_with_junit_and_mockito/step_4_acceptance_tests/out

/teacher/lesson_6_dependency_injection_inversion_of_control/step_1_dependency_injection/build
/teacher/lesson_6_dependency_injection_inversion_of_control/step_1_dependency_injection/out

/teacher/lesson_7_spring_basics/step_1_spring/build
/teacher/lesson_7_spring_basics/step_1_spring/out

/teacher/lesson_7_spring_basics/step_2_strategy/build
/teacher/lesson_7_spring_basics/step_2_strategy/out



/team_team_name/build/
/team_team_name/out/

/team_fitness_app/build/
/team_fitness_app/out/

/team_servify/build/
/team_servify/out/

/team_eln/build/
/team_eln/out/

/team_planet_express/build/
/team_planet_express/out/

/team_marketplace/build/
/team_marketplace/out/

/team_workshop_app/build/
/team_workshop_app/out/
